.header {
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 60px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo_title {
  margin: 0;
  color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 0.13rem;
  line-height: 120%;
}

.header__logo_subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.9rem;
  letter-spacing: 0.084rem;
  text-align: center;
  margin: 0;
  color: #ffffff;
}

.header__menu {
  width: 443px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__link {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.header__menu__link_active {
  color: #FAFAFA;
  font-weight: 400;
  border-bottom: 3px solid #F1CDB3;
}

.not-only {
  width: 100vw;
  height: 728px;
  background: url(/assets/images/start-screen-gradient-background.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  margin-top: -128px;
  padding-top: 180px;
}

.not-only__content {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-top: -131px;
}

.not-only__content__header {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 130%;
  width: 310px;
  color: #FFFFFF;
  margin-bottom: 25px;
  margin-top: 50px;
}

.not-only__content__description {
  width: 460px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  margin-bottom: 42px;
}

.not-only__content__button {
  width: 207px;
  height: 52px;
  bottom: 244px;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  outline: none;
  color: #292929;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.1em;
}

.not-only__content__button:hover {
  background-color: #FDDCC4;
}

.not-only__image {
  width: 60%;
  width: 698px;
  height: 728px;
  background-image: url(/assets/images/start-screen-puppy.png);
}

.about {
  width: 100vw;
  height: 588px;
}

.wrapper_about {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image {
  width: 300px;
  height: 408px;
  background-image: url(/assets/images/about-pets.png);
  margin-left: 115px;
  margin-top: 79px;
}

.about__content {
  margin-top: 60px;
  margin-right: 115px;
}

.about__content__header {
  width: 370px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 24px;
}

.about__content__description1,
.about__content__description2 {
  width: 430px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.about__content__description2 {
  margin-top: 25px;
  text-align: start;
}
/*# sourceMappingURL=main.css.map */