.scroll {
  overflow-y: hidden;
}

.header {
  width: 100%;
  height: 120px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  color: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 7px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  cursor: pointer;
}

.header__logo_title {
  margin: 0;
  font-family: Georgia;
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.12rem;
}

.header__logo_subtitle {
  font-family: Arial;
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.95rem;
  letter-spacing: 0.08rem;
  text-align: center;
  margin: 0;
}

.burger-menu {
  display: none;
}

.header__menu {
  width: 443px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__link {
  font-family: Arial;
  font-style: normal;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: #545454;
}

.header__menu__link:hover {
  color: #292929;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__menu__link_active {
  font-weight: 400;
  margin-top: 3px;
  border-bottom: 3px solid #F1CDB3;
  color: #545454;
}

.disabled:hover {
  color: #545454;
  cursor: default;
}

.pets {
  width: 100%;
  height: auto;
  background-color: #F6F6F6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 44px 0 100px;
}

.wrapper_pets {
  background-color: #F6F6F6;
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.pets__header {
  width: 400px;
  font-family: Georgia;
  font-style: normal;
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.13rem;
  color: #545454;
  text-align: center;
  margin-left: 2px;
  margin-top: 38px;
}

.pets-slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.pets-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.pets-slider__wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.pets-slider__item {
  width: 270px;
  height: 435px;
  margin: 25px auto 5px;
  background: #FAFAFA;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}

.pets-slider__item:hover {
  background: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.29);
}

.pets-slider__item_photo {
  margin-top: -1px;
  margin-bottom: 10px;
}

.pets-slider__item_name {
  font-family: Georgia;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06rem;
  color: #545454;
  margin-bottom: 30px;
}

.pets-slider__item_button {
  border: 2px solid #F1CDB3;
  background-color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  width: 187px;
  height: 52px;
  outline: none;
  cursor: pointer;
  color: #292929;
  font-size: 1.0625rem;
  line-height: 130%;
  letter-spacing: 0.1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pets-slider__item_button:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pets-slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 340px;
  color: #292929;
  font-size: 20px;
  margin-top: 55px;
}

.slider__pagination__item {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  color: #292929;
  outline: none;
  background-color: inherit;
  text-align: center;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider__pagination__item:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider__pagination__item:disabled {
  border: 2px solid  #CDCDCD;
  color: #CDCDCD;
}

.slider__pagination__item:disabled:hover {
  border: 2px solid  #CDCDCD;
  color: #CDCDCD;
  background-color: inherit;
}

.number {
  color: black;
  background-color: #F1CDB3;
  font-weight: normal;
}

.footer {
  width: 100%;
  padding-top: 0px;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer a {
  font-family: Georgia;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.075rem;
  color: #F1CDB3;
  text-decoration: none;
}

.footer__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer__contact {
  padding-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 235px;
}

.footer__contact_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact_email::before {
  content: url(../../assets/icons/mail.png);
  margin-right: 20px;
}

.footer__contact_tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact_tel::before {
  content: url(../../assets/icons/phone.png);
  margin-right: 20px;
}

.footer__location_boston,
.footer__location_london {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__location_boston::before,
.footer__location_london::before {
  content: url(../../assets/icons/pin.png);
  margin-right: 20px;
}

.footer__location {
  padding-top: 0px;
  width: 302px;
  margin-left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 235px;
}

.footer__contact_header,
.footer__location_header {
  margin: 0;
  width: 300px;
  font-family: Georgia;
  font-style: normal;
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.13rem;
  color: #FFFFFF;
}

.footer__image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

#blackout-popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(41, 41, 41, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blackout-popup:hover .closed {
  background: #FDDCC4;
  border: 2px solid  #FDDCC4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hidden-popup {
  display: none !important;
}

.popup {
  width: 900px;
  height: 500px;
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FAFAFA;
  border-radius: 9px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__image {
  width: 55.6%;
}

.popup__content {
  width: 41%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__content__title {
  font-family: Georgia;
  font-style: normal;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.08em;
  margin-top: 53px;
  margin-bottom: 11px;
}

.popup__content__subtitle {
  font-family: Georgia;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.06em;
  margin-top: 0;
}

.popup__content__description {
  width: 350px;
  font-family: Georgia;
  font-style: normal;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.popup__content__list {
  padding-left: 0px;
  list-style: none;
  margin-top: 25px;
}

.popup__content__list__item {
  font-family: Georgia;
  font-style: bold;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.popup__content__list__item::before {
  content: "\2022";
  margin-right: 8px;
  color: #F1CDB3;
}

.closed {
  font-size: 1.1rem;
  text-align: center;
  padding-top: 15px;
  width: 52px;
  height: 52px;
  margin-top: -549px;
  margin-left: 932px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.closed:hover {
  background: #FDDCC4;
  border: 2px solid  #FDDCC4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1279px) {
  .wrapper {
    margin: 7px 30px 0;
  }
  .pets {
    padding-bottom: 76px;
  }
  .pets-slider {
    width: 80%;
    margin-top: -30px;
    margin-bottom: -19px;
  }
  .footer__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 31px;
    row-gap: 23px;
  }
  .footer__location {
    margin-left: 39px;
  }
  .popup {
    width: 630px;
    height: 350px;
  }
  .closed {
    margin-top: -402px;
    margin-left: 664px;
  }
  .popup__image {
    width: 55.6%;
  }
  .popup__content {
    width: 42.5%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popup__content__title {
    font-family: Georgia;
    font-style: normal;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.08em;
    margin-top: 13px;
    margin-bottom: 11px;
  }
  .popup__content__subtitle {
    font-family: Georgia;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .popup__content__description {
    width: 265px;
    font-family: Georgia;
    font-style: normal;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
  }
  .popup__content__list {
    padding-left: 0px;
    list-style: none;
    margin-top: 5px;
  }
  .popup__content__list__item {
    font-family: Georgia;
    font-style: bold;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin-bottom: 6px;
  }
  .popup__content__list__item::before {
    content: "\2022";
    margin-right: 8px;
    color: #F1CDB3;
  }
}

@media (max-width: 767px) {
  .wrapper {
    margin: 7px 3% 0;
  }
  .burger-menu {
    margin-top: -8px;
    margin-right: 43px;
    width: 30px;
    height: 22px;
    z-index: 14;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .burger-menu span {
    width: 100%;
    height: 2px;
    background-color: #000000;
  }
  #blackout-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(41, 41, 41, 0.6);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__logo {
    z-index: 14;
  }
  .wrapper-menu {
    position: fixed;
    width: 300px !important;
    margin: 0 10px !important;
    top: 29px;
    z-index: 3;
  }
  .wrapper-menu .header__logo .header__logo_title {
    -webkit-animation: color-title 0.7s forwards;
            animation: color-title 0.7s forwards;
  }
  .wrapper-menu .header__logo .header__logo_subtitle {
    -webkit-animation: color-subtitle 0.7s forwards;
            animation: color-subtitle 0.7s forwards;
  }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 10;
  }
  .hidden {
    display: none;
  }
  .header__menu {
    z-index: 13;
    position: fixed;
    margin-top: 0;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100%;
    background-color: #292929;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 85px;
  }
  .header__menu__item {
    margin-bottom: 40px;
  }
  .header__menu__link {
    color: #CDCDCD;
    font-size: 2rem !important;
  }
  .header__menu__link:hover {
    color: #FAFAFA;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu__link_active {
    color: #FAFAFA;
    font-weight: 400;
    margin-top: 3px;
    border-bottom: 3px solid #F1CDB3;
  }
  .disabled:hover {
    color: #CDCDCD;
    cursor: default;
  }
  .active-menu {
    right: 0 !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .active-burger {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .active-burger span {
    -webkit-animation: backgroundColor 0.1s forwards;
            animation: backgroundColor 0.1s forwards;
  }
  .pets__header {
    text-align: center;
    width: 300px;
    font-size: 1.5rem;
    letter-spacing: 0.08em;
    line-height: 135%;
    margin-left: 1px;
    margin-top: -3px;
  }
  .pets {
    padding-bottom: 44px;
  }
  .pets-slider {
    width: 90%;
    margin-top: -5px;
    margin-bottom: -19px;
  }
  .pets-slider__wrapper__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pets-slider__pagination {
    width: 300px;
    margin-bottom: -2px;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 31px;
    row-gap: 23px;
  }
  .footer__location {
    margin-left: 0px;
    margin-top: 14px;
    height: auto;
  }
  .footer__contact_header,
  .footer__location_header {
    width: 250px;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.08em;
  }
  .footer__location_header {
    margin-bottom: 41px;
  }
  .footer__contact,
  .footer__location {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 211px;
  }
  .footer__location_london {
    margin-top: 37px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .footer__image {
    width: 260px;
    margin-top: 27px;
  }
  .footer__contact_email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contact_email::before {
    content: url(../../assets/icons/mail.png);
    margin-right: 20px;
    margin-top: 5px;
  }
  .footer__location_boston::before {
    margin-top: 5px;
  }
  .footer__location_london::before {
    margin-top: 3px;
  }
  .popup {
    width: 240px;
    height: auto;
  }
  .closed {
    margin-top: -395px;
    margin-left: 252px;
  }
  .popup__image {
    display: none;
  }
  .popup__content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popup__content__title {
    font-family: Georgia;
    font-style: normal;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.08em;
    margin: 13px 0 11px 2px;
  }
  .popup__content__subtitle {
    font-family: Georgia;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .popup__content__description {
    width: 220px;
    text-align: justify;
    font-family: Georgia;
    font-style: normal;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
  }
  .popup__content__list {
    margin-top: 7px;
    margin-bottom: 12px;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-left: 10px;
  }
  .popup__content__list__item {
    font-family: Georgia;
    font-style: bold;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin-bottom: 6px;
  }
  .popup__content__list__item::before {
    content: "\2022";
    margin-right: 8px;
    color: #F1CDB3;
  }
  .popup__content__list__item:last-child {
    margin-bottom: 0;
  }
  @-webkit-keyframes color-title {
    to {
      color: #F1CDB3;
    }
  }
  @keyframes color-title {
    to {
      color: #F1CDB3;
    }
  }
  @-webkit-keyframes color-subtitle {
    to {
      color: #FFFFFF;
    }
  }
  @keyframes color-subtitle {
    to {
      color: #FFFFFF;
    }
  }
  @-webkit-keyframes backgroundColor {
    to {
      background-color: #F1CDB3;
    }
  }
  @keyframes backgroundColor {
    to {
      background-color: #F1CDB3;
    }
  }
}
/*# sourceMappingURL=pets.css.map */